.cnp {
  position: relative;
  flex: 1 1 auto;
  padding: 7rem 0 5rem;
  .bg-black {
    position: absolute;
    width: 100%;
    background: #000;
    height: 25rem;
    top: 0;
    left: 0;
  }

  .inCont {
    position: relative;
    margin: 0 auto;
    max-width: 690px;
  }

  .backText {
    position: absolute;
    margin-bottom: 1rem;
    right: calc(100% + 2rem);
    top: 6px;
    width: 6rem;
    color: color(secondary-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HelveticaBold;
    img {
      height: 1.5rem;
      margin-right: 1rem;
    }
  }

  &-head {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  form {
    background: white;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.322);
  }

  .inputLabel {
    font-size: 1.5rem;
    font-weight: 400;
    // margin-bottom: 0.5rem;
  }

  .inputField {
    margin: 0 0 2rem;
    .disclaim {
      margin: 0.5rem 0;
      font-family: HelveticaReg;
      transform: scale(0);
      span {
        font-family: HelveticaBold;
      }
      &.active {
        transform: scale(1);
      }
    }
  }

  .description {
    position: relative;
  }

  .input.desCat {
    padding: 0;
    input#catInput {
      border: none;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      padding: 0 1rem;
    }
  }

  .desCat {
    &_selected {
      transform: scale(0);
      padding: 0 1rem;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      position: absolute;
      z-index: 3;
      display: flex;
      gap: 0.5rem;
      justify-content: flex-start;
      align-items: center;
      top: 1;
      left: 1;
      background: color(footer-color);

      img {
        height: 1rem;
      }

      &.active {
        transform: scale(1);
      }

      p {
        color: color(secondary-color);
      }
    }

    a {
      font-weight: 400;
      color: color(header-color);
    }
  }

  .noteOne {
    padding-top: 4rem;
    position: absolute;
    right: 105%;
    top: 27rem;
    top: 0;
    width: 12.6rem;
    ul {
      width: 100%;
      list-style: none;
      margin-top: 1rem;
      li {
        margin: 0.5rem 0;
        width: 100%;
        display: flex;
        align-items: flex-start;
        // flex-wrap: wrap;
        img {
          position: relative;
          top: 3px;
          margin: 0 0.5rem;
          margin-left: 0;
          height: 1rem;
        }
        p {
          flex: 1 1 auto;
        }
      }
    }

    img[alt="dragArrow"] {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  .format-inst {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  .input {
    border: 1px solid color(secondary-color);
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 1rem;
    margin: 1rem 0 0;
    position: relative;

    img.searchCat {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
    }
  }

  .ck-placeholder,
  p[data-placeholder="Insert text here..."] {
    height: 15rem;
  }

  .cat {
    position: absolute;
    background: white;
    z-index: 9;
    border: 1px solid color(secondary-color);
    height: 39rem;
    overflow: auto;
    top: 100%;
    left: -1px;
    display: none;
    width: calc(100% + 2px);
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      padding: 0 3px;
      border-left: 1.5px solid color(secondary-color);
      //   border-right: 1.5px solid color(secondary-color);
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: color(secondary-color);
    }
    ul {
      list-style: none;
      padding-top: 0.5rem;

      li {
        margin: 5px 0;
      }
    }

    &-block {
      border-bottom: 1px solid color(secondary-color);
      padding: 1rem 0;
    }
    &-head,
    li {
      padding: 5px 1rem;
      background: white;
      color: color(secondary-color);
      &:hover {
        color: white;
        background: color(secondary-color);
      }
    }
    &-head {
      pointer-events: none;
      font-size: 1.5rem;
    }

    &.active {
      display: block;
    }
  }

  .attach-cont {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    padding: 2rem;
    gap: 1rem;
    border: 1px dashed color(secondary-color);
    label {
      display: inline-flex;
      justify-content: space-between;
      padding: 1rem;
      align-items: center;
      background: lighten(color(secondary-color), 30%);
      border: 2px solid color(secondary-color);
      color: color(secondary-color);
      font-family: HelveticaBold;
      // width: 10rem;
      gap: 0.5rem;
      border-radius: 10px;
      font-size: 1rem;
      white-space: nowrap;
      img {
        height: 1rem;
      }
    }
    p {
      flex: 1 1 15rem;
    }
  }

  .royaltyFree {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    // text-align: center;

    img {
      height: 1.5rem;
    }

    span {
      color: color(header-color);
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .deliverables {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    gap: 1rem;

    &_single {
      position: relative;
      padding: 1rem;
      border: 1px solid color(secondary-color);
      text-align: center;
      img {
        height: 5rem;
        transform: scale(0.7);
        // width: 3rem;
      }

      img[alt="check-circle"] {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        height: 2rem;
        opacity: 0;
      }
    }

    input:checked + label {
      border: 2px solid color(header-color);
      img[alt="check-circle"] {
        opacity: 1;
      }
    }
  }

  .assocBrands {
    position: relative;
    padding: 1rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
    &_single {
      position: relative;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid color(secondary-color);

      p {
        position: absolute;
        left: 50%;
        bottom: 2rem;
        transform: translateX(-50%);
        font-weight: bold;
        color: lighten(color(secondary-color), 10%);
        white-space: nowrap;
      }
    }
    &_head {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      img {
        height: 1.5rem;
      }
    }
  }
  button.createBrandBtn {
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background: color(header-color);
    border: none;
    padding: 0.5rem;
    border-radius: 8px;
  }
}

@media (max-width: 1370px) {
  .cnp {
    .noteOne {
      padding-top: 1rem;
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      ul {
        li {
          margin: 1rem 0;
          img {
            margin: 0 1rem;
          }
        }
      }
      img[alt="dragArrow"] {
        display: none;
      }
    }
  }
}
@media (max-width: 1200px) {
  .cnp {
    .backText {
      position: static;
    }
  }
}
@media (max-width: 1100px) {
  .cnp {
    padding-top: 7rem;
  }
}
@media (max-width: 345px) {
  .cnp {
    form {
      padding: 1.5rem 1rem;
    }
    .attach-cont {
      padding: 2rem 1rem;
      label {
        padding: 0.5rem;
        border-radius: 5px;
      }
    }
  }
}
